<title>Listado de artículos 💊 Enfermería | Teacompaño CIS</title>

{{> navdos}}

<div class="container m-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/enfermeras/perfil">Perfil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Lista de artículos</li>
        </ol>
    </nav>
</div>

<div class="listado__pacientes container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha de nacimiento</th>
                <th scope="col">EPS</th>
                <th scope="col">Teléfono</th>
            </tr>
        </thead>
        {{#each blog}}
        <tbody>
            <tr>
                <th scope="row">{{id}}</th>
                <td><a href="/dia-saludable/editar/{{id}}">{{titulo}}</a></td>
                <td>{{tema}}</td>
                <td>{{subtitulo}}</td>
                <td>{{created_at}}</td>
            </tr>
            {{else}}
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Sura</td>
                <td>@mdo</td>
            </tr>
            {{/each}}
        </tbody>
        
    </table>
</div>

<div class="container text-center">
    <div class="col-md-4 mx-auto m-4">
        <a href="/enfermeras/agregar" class="btn btn-danger">Añadir nuevo paciente</a>
    </div>
</div>

{{> footer}}