{{> inner}}

<div class="articulo">
    <div class="container m-4">
        <div class="articulo__title m-4 text-center">
            <h1>{{blog.titulo}} | Teacompaño</h1>
        </div>
        <div class="articulo__body container m-4">

            <div class="encabezado">
                <div class="contexto__art">
                    <p>
                        <strong>{{blog.tema}}</strong> | Opinión
                    </p>
                </div>

                <div class="imagen__art text-center">
                    <img src="/img/blog/comida-saludable.jpg" class="w-50" alt="">
                    {{!-- <iframe src="https://www.teacompano.com.co/img/blog/{{blog.urlimg}}.jpg" title="Día Saludable | Teacompaño" frameborder="0"></iframe> --}}
                    <iframe src="https://www.teacompano.com.co/img/blog/{{blog.urlimg}}.jpg" title="Día Saludable | Teacompaño" frameborder="0"></iframe>
                    <p class="piedefoto">
                        La imágen muestra una caja de leche tomada de una fuente | Fuente: Routers | Medellín 2028
                    </p>
                </div>
                <div class="contexto__subt">
                    <p class="subtitle text-center">
                        <i>{{blog.subtitulo}}</i>
                    </p>
                </div>
            </div>

            <div class="cuerpo container m-4">
                <div class="parrafo">
                    <p>
                        {{blog.paraguno}}
                    </p>
                </div>

                <div class="parrafo">
                    <div class="parag__title">
                        <h2>{{blog.subtitledos}}</h2>
                    </div>
                    <p>
                        {{blog.paragdos}}
                    </p>
                </div>

                <div class="parrafo">
                    <div class="parag__title">
                        <h2>{{blog.subtitletres}}</h2>
                    </div>
                    <p>
                        {{blog.paragtres}}
                    </p>
                </div>

                <div class="parrafo">
                    <div class="parag__title">
                        <h2>{{blog.subtitlecuatro}}</h2>
                    </div>
                    <p>
                        {{blog.paragcuatro}}
                    </p>
                </div>

                <div class="parrafo">
                    <div class="parag__title">
                        <h2>{{blog.subtitlecinco}}</h2>
                    </div>
                    <p>
                        {{blog.paragcinco}}
                    </p>
                </div>

                <div class="parrafo">
                    <div class="parag__title">
                        <h2>{{blog.subtitleseis}}</h2>
                    </div>
                    <p>
                        {{blog.paragseis}}
                    </p>
                </div>
                
            </div>

            <div class="pie container">
                <div class="atributos container m-6">
                    <ul>
                        <li><p><strong>Autor:</strong> <i>{{blog.autor}}</i></p></li>
                        <li><p><i>{{blog.created_at}}</i></p></li>
                        <li><p><strong>En:</strong> <i>{{blog.city}}</i></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>