{{> inner}}

<div class="dia__saludable">
    <div class="container">
        <div class="dia__saludable--title text-center m-4">
            <h1>Día Saludable | Teacompaño</h1>
        </div>

        <div class="container">

            <div class="listado__articulos m-6 d-flex text-center">
                {{#each blog}}
                <div class="card text-dark bg-light m-4 text-center" style="max-width: 18rem;">
                    <img src="/img/imagen-art-test.jpg" class="card-img" alt="...">
                    <div class="card-header"><a href="/dia-saludable/{{id}}">{{titulo}}</a></div>
                    <div class="card-body">
                        <h5 class="card-title">{{tema}}</h5>
                        <p class="card-text">{{subtitulo}}</p>
                    </div>
                </div>
                {{else}}
                <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">Aún no hay artículos</div>
                    <div class="card-body">
                        <h5 class="card-title">Próximamente</h5>
                        <p class="card-text">Encontrarás un artículo en esta sección</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>